@import "tailwindcss";

@layer utilities {
  .clip-slanted {
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
  }
}

.fancy-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.fancy-scrollbar::-webkit-scrollbar-track {
  background: #121820;
}
.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: #2C3B4E;
  border-radius: 4px;
}
.fancy-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3E4F63;
}

